version: '3.8'

services:
  ask-amy:
    build:
      context: .
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
        VITE_HELP_CENTRE_URL: ${VITE_HELP_CENTRE_URL}
        VITE_HELP_CENTRE_TOKEN: ${VITE_HELP_CENTRE_TOKEN}
        VITE_CAL_USERNAME: ${VITE_CAL_USERNAME}
        VITE_CAL_API_KEY: ${VITE_CAL_API_KEY}
    container_name: ask-amy
    ports:
      - "8507:80"
    networks:
      - local-network
    restart: always

networks:
  local-network:
    external: true
