version: '3.8'

services:
  ask-amy:
    build:
      context: .
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_ANON_KEY: ${VITE_SUPABASE_ANON_KEY}
        VITE_IRCC_API_URL: ${VITE_IRCC_API_URL}
        VITE_IRCC_API_KEY: ${VITE_IRCC_API_KEY}
        VITE_CAL_USERNAME: ${VITE_CAL_USERNAME}
        VITE_CAL_API_KEY: ${VITE_CAL_API_KEY}
    container_name: ask-amy
    environment:
      - SEARCH_SERVICE_TOKEN=${VITE_IRCC_API_KEY}
    ports:
      - "8507:80"
    networks:
      - local-network
    restart: always

networks:
  local-network:
    external: true
